#Map {
	background-color: #000;
	height: 500px;
	width: 500px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
#ScoreCard, #Controls, #title {
	position: relative;
	background-color: #333;
	height: 50px;
	width: 500px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-size: 24px;
}
#title {
	border-bottom: 2px solid #000;
}
#title h1 {
	margin-top: 5px;
}
#Score { 
	float: left; 
	margin: 10px 0 0 30px;
}
#Level { 
	float: right; 
	margin: 10px 30px 0 0;
}
.control:hover {
	text-decoration: underline;
}
.control {
	float: left;
	margin: 10px 0 0 30px;
	cursor: pointer;
	text-decoration: none;
}
#Pause {
	float: left;
	margin: 10px 0px 0 125px;
}
hr {
	position: relative;
	margin: 0;
	left: -9999em;
	clear: both;
	width: 2px;
}
#SpaceShip {
	background-color: #fff;
	height: 20px;
	width: 20px;
	position: absolute;
	display: block;
	/*border: 2px dashed #000; 33% shield*/
	/*border: 2px dashed #999; 66% shield*/
	/*border: 2px solid #999; 99% shield*/
	
}
.WeaponBlast {
	display: block;
	background-color: #fff;
	height: 5px;
	width: 5px;
	position: absolute;
}
.Asteroid {
	background-color: #777;
	height: 20px;
	width: 20px;
	position: absolute;
}
#MessageBoard {
	height: 400px;
	width: 400px;
	position: absolute;
	top: 50px;
	left: 50px;
	background-color: #fff;
	z-index: 1;
	text-align: center;
}
#start:hover, #close:hover {
	text-decoration: underline;
}
#start, #close {
	cursor: pointer;
	text-decoration: none;
}
h6 { 
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
}
h1 {
	padding: 5px 0;
	font-size: 42px;
}
#MessageBoard h1 {
	margin: 0;
	padding: 20px;
	font-size: 24px;
}
#MessageBoard h6 {
	font-size: 14px;
}