body {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

header, #content, #side_bar, footer { border: 1px solid #000; }
header {
	height: 27px;
	margin-bottom: 5px;
}
#content {
	height: 250px;
	width: 80%;
	float: left;
}
#side_bar {
	height: 250px;
	width: 19%;
	float: right;
	margin-bottom: 5px;
}
footer {
	height: 25px;
	clear: both;
	padding-top: 4px;
}
#copyright { 
	color: #fff;
}

.lt_grey { background-color: #ccc; }
.med_grey { background-color: #999; }
.blk { background-color: #000; }

header ul { 
	list-style: none;
	padding: 0;
	margin: 5px auto 0px auto;
}
header ul li {
	display: inline-block;
	width: 24%;
	background-color: #666;
}
header ul li:hover {
	background-color: #fff;
}

a { text-decoration: none;}
a:link { color: #000; }
a:visited { color: #333; }
a:hover { color: #999; }
a:active { color: #999; }

.pic_contaier { position: relative; }
.pic_container .pic_caption {
	width: 173px;
	margin-left: 4px;
	margin-top: 5px;
	background-color: #fff;
	position: absolute;
	border: 1px solid #000;
	font-size: 14px;
}
.pic_container img { 
	width: 95%; 
	margin-top: 45px;
}
